<h1>Lista de Livros</h1>

<div class="row">


<div class = "col-sm-6">
    <%= form_tag books_path, method: :get do %>
      <div class="input-group">
         <%= text_field_tag :search, params[:search], class: 'form-control' %>
         <span class="input-group-btn" >
            <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
         </span>
      </div>
    <% end %>
</div>

</div>



<% if params[:search].present? %>
      <div class = "row">
          <div class = "col-sm-6">
              <div class= "alert alert-success">
                  <%= @books.size %>  Resultados encontrados.
              </div>
          </div>
      </div>
<% end %>


<table class = "table table-striped">
  <tr>
    <th>Titulo</th>
    <th>Ano de Publicação</th>
    <th>Autor</th>
    <td> Links </td>

    <td><%  %></td>
    <td><%   %></td>


  </tr>

  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.publication_year %></td>
    <td><%= link_to book.author.name, author_path(book.author.id) %></td>

    <td>
      <%= link_to "Editar", edit_book_path(book.id), class: "btn btn-xs btn-primary" %>
      <%= link_to "Ver detalhes", book_path(book.id), class: "btn btn-xs btn-success" %>

      <%= link_to( "Remover", book_path(book.id), {method: :delete, class: "btn btn-xs btn-danger",
      data: {confirm: "Deseja realmente remover este livror?" } }) %>
    </td>

  </tr>
  <% end %>
</table>
<%= will_paginate @books %>

<%= link_to("Novo Livro", new_book_path, class: "btn btn-primary") %>
