<h1> Autor: <%= @author.name %></h1>

<ul>
<% if @author.books.empty? %>
  <p>Este autor não possui nenhum livro cadastrado.</p>
<% else %>
  <% @author.books.each do |book|%>
    <li><%= book.title %>
  <% end %>
  </ul>
<% end %>


<%= link_to "Voltar", authors_path,class: 'btn btn-xs btn-primary' %>
<%= link_to "Editar", edit_author_path(@author.id), class: 'btn btn-xs btn-primary' %>
<%= link_to "Remover", author_path(@author.id), method: :delete, data: {confirm: "Deseja apagar este Autor? " }, class:  'btn btn-xs btn-danger' %>
